[Unit]
Description=Ubuntu Copy Report - Scheduled runs

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target